Comm/Web References/WRRecvPark/RecvPark.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecvParkFunc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecvParkFuncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecvParkFuncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecvParkFuncSoapIn">
    <wsdl:part name="parameters" element="tns:RecvParkFunc" />
  </wsdl:message>
  <wsdl:message name="RecvParkFuncSoapOut">
    <wsdl:part name="parameters" element="tns:RecvParkFuncResponse" />
  </wsdl:message>
  <wsdl:portType name="RecvParkSoap">
    <wsdl:operation name="RecvParkFunc">
      <wsdl:input message="tns:RecvParkFuncSoapIn" />
      <wsdl:output message="tns:RecvParkFuncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecvParkSoap" type="tns:RecvParkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvParkFunc">
      <soap:operation soapAction="http://tempuri.org/RecvParkFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecvParkSoap12" type="tns:RecvParkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvParkFunc">
      <soap12:operation soapAction="http://tempuri.org/RecvParkFunc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecvPark">
    <wsdl:port name="RecvParkSoap" binding="tns:RecvParkSoap">
      <soap:address location="http://172.16.134.126/RecvPark.asmx" />
    </wsdl:port>
    <wsdl:port name="RecvParkSoap12" binding="tns:RecvParkSoap12">
      <soap12:address location="http://172.16.134.126/RecvPark.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>