Comm/Web References/WRGetPayMode/GetPayMode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPayModeFunc">
        <s:complexType />
      </s:element>
      <s:element name="GetPayModeFuncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPayModeFuncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPayModeFuncSoapIn">
    <wsdl:part name="parameters" element="tns:GetPayModeFunc" />
  </wsdl:message>
  <wsdl:message name="GetPayModeFuncSoapOut">
    <wsdl:part name="parameters" element="tns:GetPayModeFuncResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPayModeSoap">
    <wsdl:operation name="GetPayModeFunc">
      <wsdl:input message="tns:GetPayModeFuncSoapIn" />
      <wsdl:output message="tns:GetPayModeFuncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPayModeSoap" type="tns:GetPayModeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPayModeFunc">
      <soap:operation soapAction="http://tempuri.org/GetPayModeFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetPayModeSoap12" type="tns:GetPayModeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPayModeFunc">
      <soap12:operation soapAction="http://tempuri.org/GetPayModeFunc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPayMode">
    <wsdl:port name="GetPayModeSoap" binding="tns:GetPayModeSoap">
      <soap:address location="http://172.16.134.126/GetPayMode.asmx" />
    </wsdl:port>
    <wsdl:port name="GetPayModeSoap12" binding="tns:GetPayModeSoap12">
      <soap12:address location="http://172.16.134.126/GetPayMode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>