Comm/Web References/WRRFRecvCgBill/RFRecvCgBill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecvCgBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecvCgBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecvCgBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecvCgBillSoapIn">
    <wsdl:part name="parameters" element="tns:RecvCgBill" />
  </wsdl:message>
  <wsdl:message name="RecvCgBillSoapOut">
    <wsdl:part name="parameters" element="tns:RecvCgBillResponse" />
  </wsdl:message>
  <wsdl:portType name="RFRecvCgBillSoap">
    <wsdl:operation name="RecvCgBill">
      <wsdl:input message="tns:RecvCgBillSoapIn" />
      <wsdl:output message="tns:RecvCgBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFRecvCgBillSoap" type="tns:RFRecvCgBillSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvCgBill">
      <soap:operation soapAction="http://tempuri.org/RecvCgBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFRecvCgBillSoap12" type="tns:RFRecvCgBillSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvCgBill">
      <soap12:operation soapAction="http://tempuri.org/RecvCgBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFRecvCgBill">
    <wsdl:port name="RFRecvCgBillSoap" binding="tns:RFRecvCgBillSoap">
      <soap:address location="http://172.16.134.126/RFRecvCgBill.asmx" />
    </wsdl:port>
    <wsdl:port name="RFRecvCgBillSoap12" binding="tns:RFRecvCgBillSoap12">
      <soap12:address location="http://172.16.134.126/RFRecvCgBill.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>