Comm/Web References/WRRFRecvPdData/RFRecvPdData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecvPdData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CkCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PdDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecvPdDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecvPdDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecvPdDataSoapIn">
    <wsdl:part name="parameters" element="tns:RecvPdData" />
  </wsdl:message>
  <wsdl:message name="RecvPdDataSoapOut">
    <wsdl:part name="parameters" element="tns:RecvPdDataResponse" />
  </wsdl:message>
  <wsdl:portType name="RFRecvPdDataSoap">
    <wsdl:operation name="RecvPdData">
      <wsdl:input message="tns:RecvPdDataSoapIn" />
      <wsdl:output message="tns:RecvPdDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFRecvPdDataSoap" type="tns:RFRecvPdDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvPdData">
      <soap:operation soapAction="http://tempuri.org/RecvPdData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFRecvPdDataSoap12" type="tns:RFRecvPdDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvPdData">
      <soap12:operation soapAction="http://tempuri.org/RecvPdData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFRecvPdData">
    <wsdl:port name="RFRecvPdDataSoap" binding="tns:RFRecvPdDataSoap">
      <soap:address location="http://172.16.134.126/RFRecvPdData.asmx" />
    </wsdl:port>
    <wsdl:port name="RFRecvPdDataSoap12" binding="tns:RFRecvPdDataSoap12">
      <soap12:address location="http://172.16.134.126/RFRecvPdData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>