Comm/Web References/WRGetBillPreInfo/GetBillPreInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBillPreInfoFunc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orgcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usercode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillPreInfoFuncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillPreInfoFuncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBillPreInfoFuncSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillPreInfoFunc" />
  </wsdl:message>
  <wsdl:message name="GetBillPreInfoFuncSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillPreInfoFuncResponse" />
  </wsdl:message>
  <wsdl:portType name="GetBillPreInfoSoap">
    <wsdl:operation name="GetBillPreInfoFunc">
      <wsdl:input message="tns:GetBillPreInfoFuncSoapIn" />
      <wsdl:output message="tns:GetBillPreInfoFuncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetBillPreInfoSoap" type="tns:GetBillPreInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBillPreInfoFunc">
      <soap:operation soapAction="http://tempuri.org/GetBillPreInfoFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetBillPreInfoSoap12" type="tns:GetBillPreInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBillPreInfoFunc">
      <soap12:operation soapAction="http://tempuri.org/GetBillPreInfoFunc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetBillPreInfo">
    <wsdl:port name="GetBillPreInfoSoap" binding="tns:GetBillPreInfoSoap">
      <soap:address location="http://172.16.134.126/GetBillPreInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="GetBillPreInfoSoap12" binding="tns:GetBillPreInfoSoap12">
      <soap12:address location="http://172.16.134.126/GetBillPreInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>