Comm/Web References/WRGenParkCharge/GenParkCharge.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenParkChargeFunc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenParkChargeFuncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenParkChargeFuncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenParkChargeFuncSoapIn">
    <wsdl:part name="parameters" element="tns:GenParkChargeFunc" />
  </wsdl:message>
  <wsdl:message name="GenParkChargeFuncSoapOut">
    <wsdl:part name="parameters" element="tns:GenParkChargeFuncResponse" />
  </wsdl:message>
  <wsdl:portType name="GenParkChargeSoap">
    <wsdl:operation name="GenParkChargeFunc">
      <wsdl:input message="tns:GenParkChargeFuncSoapIn" />
      <wsdl:output message="tns:GenParkChargeFuncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenParkChargeSoap" type="tns:GenParkChargeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenParkChargeFunc">
      <soap:operation soapAction="http://tempuri.org/GenParkChargeFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenParkChargeSoap12" type="tns:GenParkChargeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenParkChargeFunc">
      <soap12:operation soapAction="http://tempuri.org/GenParkChargeFunc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenParkCharge">
    <wsdl:port name="GenParkChargeSoap" binding="tns:GenParkChargeSoap">
      <soap:address location="http://172.16.134.126/GenParkCharge.asmx" />
    </wsdl:port>
    <wsdl:port name="GenParkChargeSoap12" binding="tns:GenParkChargeSoap12">
      <soap12:address location="http://172.16.134.126/GenParkCharge.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>