Comm/Web References/WRRecvParkPay/RecvParkPay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecvParkPayFunc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonpay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileIp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecvParkPayFuncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecvParkPayFuncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecvParkPayFuncSoapIn">
    <wsdl:part name="parameters" element="tns:RecvParkPayFunc" />
  </wsdl:message>
  <wsdl:message name="RecvParkPayFuncSoapOut">
    <wsdl:part name="parameters" element="tns:RecvParkPayFuncResponse" />
  </wsdl:message>
  <wsdl:portType name="RecvParkPaySoap">
    <wsdl:operation name="RecvParkPayFunc">
      <wsdl:input message="tns:RecvParkPayFuncSoapIn" />
      <wsdl:output message="tns:RecvParkPayFuncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecvParkPaySoap" type="tns:RecvParkPaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvParkPayFunc">
      <soap:operation soapAction="http://tempuri.org/RecvParkPayFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecvParkPaySoap12" type="tns:RecvParkPaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvParkPayFunc">
      <soap12:operation soapAction="http://tempuri.org/RecvParkPayFunc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecvParkPay">
    <wsdl:port name="RecvParkPaySoap" binding="tns:RecvParkPaySoap">
      <soap:address location="http://172.16.134.126/RecvParkPay.asmx" />
    </wsdl:port>
    <wsdl:port name="RecvParkPaySoap12" binding="tns:RecvParkPaySoap12">
      <soap12:address location="http://172.16.134.126/RecvParkPay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>