Comm/Web References/WRRFQueryPlu/RFQueryPlu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryPlu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Packet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPluResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPluResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Packet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryPluSoapIn">
    <wsdl:part name="parameters" element="tns:QueryPlu" />
  </wsdl:message>
  <wsdl:message name="QueryPluSoapOut">
    <wsdl:part name="parameters" element="tns:QueryPluResponse" />
  </wsdl:message>
  <wsdl:portType name="RFQueryPluSoap">
    <wsdl:operation name="QueryPlu">
      <wsdl:input message="tns:QueryPluSoapIn" />
      <wsdl:output message="tns:QueryPluSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFQueryPluSoap" type="tns:RFQueryPluSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryPlu">
      <soap:operation soapAction="http://tempuri.org/QueryPlu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFQueryPluSoap12" type="tns:RFQueryPluSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryPlu">
      <soap12:operation soapAction="http://tempuri.org/QueryPlu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFQueryPlu">
    <wsdl:port name="RFQueryPluSoap" binding="tns:RFQueryPluSoap">
      <soap:address location="http://172.16.134.126/RFQueryPlu.asmx" />
    </wsdl:port>
    <wsdl:port name="RFQueryPluSoap12" binding="tns:RFQueryPluSoap12">
      <soap12:address location="http://172.16.134.126/RFQueryPlu.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>