Comm/Web References/WRViewSale/ViewSale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ScanSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SaleNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScanSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScanSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ScanSaleSoapIn">
    <wsdl:part name="parameters" element="tns:ScanSale" />
  </wsdl:message>
  <wsdl:message name="ScanSaleSoapOut">
    <wsdl:part name="parameters" element="tns:ScanSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="ViewSaleSoap">
    <wsdl:operation name="ScanSale">
      <wsdl:input message="tns:ScanSaleSoapIn" />
      <wsdl:output message="tns:ScanSaleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ViewSaleSoap" type="tns:ViewSaleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScanSale">
      <soap:operation soapAction="http://tempuri.org/ScanSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ViewSaleSoap12" type="tns:ViewSaleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScanSale">
      <soap12:operation soapAction="http://tempuri.org/ScanSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViewSale">
    <wsdl:port name="ViewSaleSoap" binding="tns:ViewSaleSoap">
      <soap:address location="http://172.16.134.126/ViewSale.asmx" />
    </wsdl:port>
    <wsdl:port name="ViewSaleSoap12" binding="tns:ViewSaleSoap12">
      <soap12:address location="http://172.16.134.126/ViewSale.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>