Comm/Web References/WRRecvSalePay/RecvSalePay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecvSalePayFunc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecvSalePayFuncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecvSalePayFuncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecvSalePayFuncSoapIn">
    <wsdl:part name="parameters" element="tns:RecvSalePayFunc" />
  </wsdl:message>
  <wsdl:message name="RecvSalePayFuncSoapOut">
    <wsdl:part name="parameters" element="tns:RecvSalePayFuncResponse" />
  </wsdl:message>
  <wsdl:portType name="RecvSalePaySoap">
    <wsdl:operation name="RecvSalePayFunc">
      <wsdl:input message="tns:RecvSalePayFuncSoapIn" />
      <wsdl:output message="tns:RecvSalePayFuncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecvSalePaySoap" type="tns:RecvSalePaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvSalePayFunc">
      <soap:operation soapAction="http://tempuri.org/RecvSalePayFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecvSalePaySoap12" type="tns:RecvSalePaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvSalePayFunc">
      <soap12:operation soapAction="http://tempuri.org/RecvSalePayFunc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecvSalePay">
    <wsdl:port name="RecvSalePaySoap" binding="tns:RecvSalePaySoap">
      <soap:address location="http://172.16.134.126/RecvSalePay.asmx" />
    </wsdl:port>
    <wsdl:port name="RecvSalePaySoap12" binding="tns:RecvSalePaySoap12">
      <soap12:address location="http://172.16.134.126/RecvSalePay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>