Comm/Web References/WRRFRecvJhBill/RFRecvJhBill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecvJhBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YwType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefBillNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CkCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecvJhBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecvJhBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecvJhBillSoapIn">
    <wsdl:part name="parameters" element="tns:RecvJhBill" />
  </wsdl:message>
  <wsdl:message name="RecvJhBillSoapOut">
    <wsdl:part name="parameters" element="tns:RecvJhBillResponse" />
  </wsdl:message>
  <wsdl:portType name="RFRecvJhBillSoap">
    <wsdl:operation name="RecvJhBill">
      <wsdl:input message="tns:RecvJhBillSoapIn" />
      <wsdl:output message="tns:RecvJhBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFRecvJhBillSoap" type="tns:RFRecvJhBillSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvJhBill">
      <soap:operation soapAction="http://tempuri.org/RecvJhBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFRecvJhBillSoap12" type="tns:RFRecvJhBillSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecvJhBill">
      <soap12:operation soapAction="http://tempuri.org/RecvJhBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFRecvJhBill">
    <wsdl:port name="RFRecvJhBillSoap" binding="tns:RFRecvJhBillSoap">
      <soap:address location="http://172.16.134.126/RFRecvJhBill.asmx" />
    </wsdl:port>
    <wsdl:port name="RFRecvJhBillSoap12" binding="tns:RFRecvJhBillSoap12">
      <soap12:address location="http://172.16.134.126/RFRecvJhBill.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>