Comm/Web References/WRRFQueryCgBill/RFQueryCgBill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryCgBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CgBillNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCgBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCgBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryCgBillSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCgBill" />
  </wsdl:message>
  <wsdl:message name="QueryCgBillSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCgBillResponse" />
  </wsdl:message>
  <wsdl:portType name="RFQueryCgBillSoap">
    <wsdl:operation name="QueryCgBill">
      <wsdl:input message="tns:QueryCgBillSoapIn" />
      <wsdl:output message="tns:QueryCgBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFQueryCgBillSoap" type="tns:RFQueryCgBillSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryCgBill">
      <soap:operation soapAction="http://tempuri.org/QueryCgBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFQueryCgBillSoap12" type="tns:RFQueryCgBillSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryCgBill">
      <soap12:operation soapAction="http://tempuri.org/QueryCgBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFQueryCgBill">
    <wsdl:port name="RFQueryCgBillSoap" binding="tns:RFQueryCgBillSoap">
      <soap:address location="http://172.16.134.126/RFQueryCgBill.asmx" />
    </wsdl:port>
    <wsdl:port name="RFQueryCgBillSoap12" binding="tns:RFQueryCgBillSoap12">
      <soap12:address location="http://172.16.134.126/RFQueryCgBill.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>