Comm/Web References/WRViewSalePlu/ViewSalePlu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ViewPlu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SaleNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewPluResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewPluResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ViewPluSoapIn">
    <wsdl:part name="parameters" element="tns:ViewPlu" />
  </wsdl:message>
  <wsdl:message name="ViewPluSoapOut">
    <wsdl:part name="parameters" element="tns:ViewPluResponse" />
  </wsdl:message>
  <wsdl:portType name="ViewSalePluSoap">
    <wsdl:operation name="ViewPlu">
      <wsdl:input message="tns:ViewPluSoapIn" />
      <wsdl:output message="tns:ViewPluSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ViewSalePluSoap" type="tns:ViewSalePluSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewPlu">
      <soap:operation soapAction="http://tempuri.org/ViewPlu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ViewSalePluSoap12" type="tns:ViewSalePluSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewPlu">
      <soap12:operation soapAction="http://tempuri.org/ViewPlu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViewSalePlu">
    <wsdl:port name="ViewSalePluSoap" binding="tns:ViewSalePluSoap">
      <soap:address location="http://172.16.134.126/ViewSalePlu.asmx" />
    </wsdl:port>
    <wsdl:port name="ViewSalePluSoap12" binding="tns:ViewSalePluSoap12">
      <soap12:address location="http://172.16.134.126/ViewSalePlu.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>